.site-author-image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  padding: $site-author-image-padding;
  max-width: $site-author-image-width;
  height: $site-author-image-height;
}
.site-author-image:hover{
  animation: rotateAn 1s infinite;
}
@keyframes rotateAn{
  0% {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); 	/* IE 9 */
    -moz-transform:rotate(0deg); 	/* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg);
  }
  10%{
    transform:rotate(3.6deg);
    -ms-transform:rotate(3.6deg); 	/* IE 9 */
    -moz-transform:rotate(3.6deg); 	/* Firefox */
    -webkit-transform:rotate(3.6deg); /* Safari 和 Chrome */
    -o-transform:rotate(3.6deg);
  }
  30%{
    transform:rotate(32.4deg);
    -ms-transform:rotate(32.4deg); 	/* IE 9 */
    -moz-transform:rotate(32.4deg); 	/* Firefox */
    -webkit-transform:rotate(32.4deg); /* Safari 和 Chrome */
    -o-transform:rotate(32.4deg);
  }
  50%{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg);
  }
  70%{
    transform:rotate(176.4deg);
    -ms-transform:rotate(176.4deg); 	/* IE 9 */
    -moz-transform:rotate(176.4deg); 	/* Firefox */
    -webkit-transform:rotate(176.4deg); /* Safari 和 Chrome */
    -o-transform:rotate(176.4deg);
  }
  80%{
    transform:rotate(176.4deg);
    -ms-transform:rotate(176.4deg); 	/* IE 9 */
    -moz-transform:rotate(176.4deg); 	/* Firefox */
    -webkit-transform:rotate(176.4deg); /* Safari 和 Chrome */
    -o-transform:rotate(176.4deg);
  }
  90%{
    transform:rotate(230.4deg);
    -ms-transform:rotate(230.4deg); 	/* IE 9 */
    -moz-transform:rotate(230.4deg); 	/* Firefox */
    -webkit-transform:rotate(230.4deg); /* Safari 和 Chrome */
    -o-transform:rotate(230.4deg);
  }
  100%{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg); 	/* IE 9 */
    -moz-transform:rotate(360deg); 	/* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
    -o-transform:rotate(360deg);
  }
}
.site-author-name {
  margin: $site-author-name-margin;
  text-align: $site-author-name-align;
  color: $site-author-name-color;
  font-weight: $site-author-name-weight;
}

.site-description {
  margin-top: $site-description-margin-top;
  text-align: $site-description-align;
  font-size: $site-description-font-size;
  color: $site-description-color;
}
